* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
   overflow-x:hidden;
  }
  
  header {
    color: black;
    padding: 24px 101px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    max-height: 50px; 
    margin-left: -40px;
    overflow: hidden;
  }
  
  nav {
    overflow: hidden;
    margin-right: -50px;
  }
  
  nav a {
    float: left;
    display: block;
    color: #161616;
    margin-right: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
  }
  
  .get-started-button {
    
    color: #161616;
    border: none;
    /* padding: 15px 20px; */
    text-decoration: none;
    display: inline-block;
    margin: 0 20px 20px 40px; /* Adjust margin as needed */
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    width: 150px;
    height: 35px;
    border-radius: 31px;
  }
  
  .container {
    position: relative;
    overflow: hidden;
    width: 793.17px;
    height: 266px;
    margin-top: 100px;
    margin-left: 323.41px;
    text-align: center;
    display:flex;
    justify-content:center
    /* border: 2px solid red; */
  }
  
  .container h1 {
    position: absolute;

    font-family: 'Poppins';
    font-size: 61px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #000000;
    z-index: 99;
  }
  
  .container h1 span {
    color: #eb1700;
  }
  
  .desktop {
    
    width: 1349px;
    height: 808px;
    margin-top: -700.41px;
    /* left: -2366px; */
    padding: 306.45px 0 0 0;
    margin-bottom:30%;
  }
  .desktop img{
   
    width: 100%;
    height: 808px;

  }
  .small-nav {
    display: none;
}
.burger-menu {
    display: none; 
    
  }
  
/* <section text and container> */
.box{
    width: auto;
 height: 533px;
      padding: 75px, 100px, 75px, 100px;
    display: flex;
    justify-content:space-between;
    margin-top:100px;
    margin-left:75px;
    margin-right:75px;
}

.sidebar {
    width: 470px;
height: Hug (356px);
margin-top:60px;
margin-left: 50px;
margin-right:50px;
gap: 38px;


}
.sidebar h1{
    font-family: Poppins;
font-size: 32px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0em;
text-align: left;


}
.sidebar p{
 margin-top:10px;
font-family: Poppins;
font-size: 17px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

}

.content {
    width: 50%;
height: 383px;
top: 75px;
left: 730px;
margin-left: 50px;
margin-right:50px;
 flex: 1; 
 background: #EEEEEE;

   /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  */
}
.content p{
    font-family: Poppins;
font-size: 17px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
margin-top:180px;

}
/* <section our ceo> */
.our-ceo{
    margin-top:-4%;
    width: 100%;
    height: 550px;
   padding: 10.14px, 255.42px, 127.09px, 255.42px;
   display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.left-container {
    flex: 1;
    margin-left:20%;
}

.left-container img {
    max-width: 100%;
    height: auto;
    display: block;
    /* border:2px solid red; */
}

.right-container {
    max-width: 100%;
    height: 50%;
    flex: 1;
    padding: 0 20px;
    margin-right:15%;
    /* border:2px solid red; */
}

.right-container h1 {
 margin-top:4%;   
font-family: Poppins;
font-size: 32px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0em;
text-align: left;

}

.right-container p {
 width: 480.1px;
height: 90px;
opacity: 0.8px;
margin-top:4%;
font-family: Poppins;
font-size: 17px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

}
.logos{
    margin-top:5%;
    /* border:2px solid red; */
}
.logos img{
    margin-right:2%;
}
/* <section work-experience> */
.work-exp{
    width: 100%;
height: 436px;
}
.work{
    display :flex;
    justify-content:space-between;
    align-items:left;
    margin-bottom:2%;
/* padding: 68.24px, 10 0.1px, 67.76px, 99.9px; */
/* margin-right:20%; */
margin-left:10%;

}
.work h1{
    font-family: Poppins;
font-size: 32px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0em;
text-align: left;

}
.work p{
width: 480.1px;
height: 90px;
opacity: 0.8px;
margin-right:15%;
font-family: Poppins;
font-size: 17px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

}
.workexperience{
     margin-left:15%;
     margin-top:7%;
}
.carousel-container {
    overflow: hidden;
    width: 60%; /* Adjust the width of the carousel */
    margin: 0 auto; /* Center the carousel */
}

.workexperience {

    display: flex;
    animation: moveLeft 10s linear infinite; /* Adjust the duration as needed */
}

.lastimg {
    width: 100px; /* Adjust the width of your images */
    margin: 0 10px; /* Adjust the margin on both sides of each image */
}

@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.workexperience img{
    margine-right:40px;
    width: 100px; 
    height: 100px;

}
.lastimg{
    margin-right:5%;
}
/* section indus */
.industries{
    width: 100%;
height: 846px

}
.indus{
    display :flex;
    justify-content:space-between;
    align-items:left;
    margin-bottom:5%;
    margin-left:5%;
    margin-right:5%;
}
.indus h1{
    font-family: Poppins;
font-size: 32px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0em;
text-align: left;
width: 593.76px;
height: 114px;

}
.indus p{
    font-family: Poppins;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    width: 480.1px;
    height: 150px;


    opacity: 0.8px;
        
}
.container-wrapper {
    display: flex;
   flex-decoration:row;
    justify-content: space-between;
    margin: 70px; 
}

.small-container {
    width: 100%; 
    margin-bottom: 20px; 
    padding: 10px;
    box-sizing: border-box;
   background-color:#FAF7F7 ;
       margin-right:10px;
       margin-left:10px;
    padding: 16px 20px 16px 20px;
       border-radius: 12px;
      gap: 22px;
       

}
.small-container p{
    margin-bottom:18%;
   
font-size: 20px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;

}
.img{
    width: 240.26px;
height: 240.26px;
padding: 36.73px 0.53px 42.77px 28.3px;
border-radius: 12px;
background-color:#FFFFFF ;
}

.arrow {
    position: relative;
    display: flex;
    align-items: center;
    /* margin-left: 90%; */
}

svg {
    z-index: 1;
    margin-left: 82%;
    margin-bottom:12%;
}

.circle {
    position: absolute;
    margin-left: 70%;
    margin-top: 25%;
    transform: translate(-50%, -50%);
    z-index: 0;
    /* border:2px solid red; */
    margin-bottom:8%;
}

.explore{
    width: 100%;
height: 110px;
padding: 31.68px, 0px, 50.32px, 0px;
text-align:center;
font-size: 21px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
background-color: #FFFFFF;
color:#000000;
}
.explore span{
   border-bottom:2px solid  #EB1700;
 }

 /* our purpose */

 .our-purpose{
    width: 100%;
height: 631px;
padding: 108px, 100.47px, 108px, 100px;

 }
 .content-container {
    display: flex;
    max-width: 100%;
    margin-top:10%;
    margin-left:10%;
    margin-right:10%;
}
.text-box {
    flex: 1;
   
    width: 40%;
height: 370px;
opacity: 0.8px;
margin-right:7%;
/* border:2px solid red; */
}

.text-box h1 {
margin-bottom:8%;   
font-size: 32px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0em;
text-align: left;

}

.text-box p {
   font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    
}
.image-box {
    flex: 1;
    width: 40%;
height: 500.83px;
margin-left:5%;

}

.image-box img {
    width: 100%;
    height: 80%;
    
}


.meet-the-team{
    width: 100%;
height: 984px;
padding: 73.59px, 103px, 73.93px, 100px;
background-color: #FFFFFF;


}
.meet-the-team h1{
    font-family: Poppins;
font-size: 32px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0em;
text-align: left;
color: #1D1D1D;
margin-left:6%

}
.image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    max-width: 1200px;
    margin: 40px auto;
    margin-left:6%;
    margin-bottom:6%
}

.image-item {
    text-align: center; /* Center text */
}

.image-item img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.name1 {
  
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #242321;
    margin-bottom:18%
   /* Add some margin for spacing */
}
.name{
    display:flex;
    justify-content:space-between;
}
.name p{
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #242321;
    margin-left:4px;

    }
.name span{
    margin-right:22px;
}
/* <section reviwe> */
.reviwe{
    width: 100%;
height: 430px;
margin-top:10%;
}
.reviwe-cont{
display :flex;
justify-content:center;
flex-direction:row;
}
.text-cont{
    width: Hug (505px);
height: Hug (88px);
top: 124.16px;
left: 100px;
gap: 20px;

}
.text-cont h1{
    font-family: Poppins;
font-size: 32px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0em;
text-align: left;
margin-bottom:30px;
}
.text-cont p{
font-family: Poppins;
font-size: 17px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

}
.reviwe-box{
    margin-left:10%;
    width: 592.64px;
height: 254px;
padding: 35px, 71px, 35px, 71px;
gap: 8px;
background-color: #FAF9F9;
/* border:2px solid red; */


}
.reviwe-box p{
    margin-top:30px;
    margin-left:80px;
    font-family: Poppins;
font-size: 17px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

}
.rewive-logo{
    display:flex;
    flex-direction:row;
    margin-top:15%;
    margin-left:13%;
}

.rewive-logo img {
    width: 64px;
height: 64px;
border-radius: 36px;

}

.rewive-logo h1{
    margin-left:5%;
    font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;

}
.rewive-logo p{
    margin-left:-35%;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}
.rect{
    /* border:2px solid red; */
}
.rectangle{
    margin-left:48%;
    margin-top:2.7%;
    width: 27.91px;
height: 10px;
border-radius: 18.31px;
background-color: #040404;


}
.circle1{
    margin-left:50.5%;
    margin-top:-0.8%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
border: 0.73px solid #000000;
}
.circle2{
    margin-left:51.5%;
    margin-top:-0.7%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
border: 0.73px solid #000000;

}
.circle3{
    margin-left:52.5%;
    margin-top:-0.8%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
border: 0.73px solid #000000;
}
.org-circle1{
    margin-top:-1%;
    margin-left:83.5%;
    width: 42px;
height: 42px;
left: 42px;
border: 1.51px;

border: 0.73px solid #EB1700;
border-radius: 50%;
}
.org-circle2{
    margin-top:-15%;
    margin-left:88.5%;
    width: 42px;
height: 42px;
left: 42px;
border: 1.51px;

border: 0.73px solid #EB1700;
border-radius: 50%;


}
.svg1{
    margin-top:-2.2%;
    margin-left:84%;  
}
.svg2{
    margin-top:-2.2%;
    margin-left:89.5%;  
}
/* <idea......> */
.ideas{
    width: 100%;
height: 739px;
padding: 82.09px, 242.38px, 82.09px, 100px;
background-color: #F4F4F4;
}
.contain{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}

.text-section {
    flex: 1;
    padding: 20px;
    margin-left:10%;
   
}

.text-section h1 {
    font-family: Poppins;
    margin-bottom:8%;

font-size: 32px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0em;
text-align: left;
width: 461.62px;
height: 76px;

}
.text-section span{
    color: #EB1700;

}
.text-section p {
    width: 439.06px;
height: 240px;
opacity: 0.8px;

    font-family: Poppins;
font-size: 17px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

}

.form-section {
    flex: 1;
    padding: 20px;
    margin-right:10%;
    margin-top:10%;

}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
    font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;



}

input {
    width: 468px;
height: 45px;
padding: 7.5px, 270.3px, 7.5px, 21.7px;
border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: none;
    width: 468px;
}
.textarea-group textarea {
    resize: none; 
    border: none;
    max-height: 77px; 
    width: 468px;
height: 77px;
border-radius: 4px;

}
.robot-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    
}

.robot-checkbox input {
    background-color: #F4F4F4;
    width: 20px;
    height: 20px;
    border:none;
}
.form-section h1{
    margin-left:10%;
    font-family: Poppins;
font-size: 21px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}

.form-section span{
    border-bottom:1px solid #EB1700;

}
/* signup.............................. */
.signup{
width: 100%;
height: 390px;
background-color: #050913;
overflow:hidden:
}

.signup-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    padding: 20px;
}

.signup-text {
    flex: 1;
    max-width: 50%;
    margin-right: 20px;
    margin-left:10%;
}

.signup-text h1 {
    font-family: Poppins;
font-size: 32px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
width: 476.9px;
height: 38px;

}

.signup-text p {
    font-family: Poppins;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    width: 266.07px;
    height: 52px;
    opacity: 0.8px;
    
}

.email-input {
    display: flex;
    margin-top: 20px;
}

.email-input input {
    margin-top:15%;
    width: 270px;
height: 41px;
padding: 13px, 183.34px, 14px, 22.66px;
border-radius: 6px;
border: 0.75px;

    
}

.email-input button {
    margin-top:15%;
    margin-left:5%;
    
    width: 189px;
    height: 38px;
    padding: 0px, 32px, 16px, 32px;
    border-radius: 31px;
    gap: 8px;
    background-color:#EB1700;
    border:none;
    
    
}



.image-blue {
    flex: 1;
    width: 50%;
height: 331.1px;
margin-left:25%;


}

.image-blue img {
  width: 351.1px;
    height: auto%;
    border-radius: 8px;
}


/* contactus........................................... */
.contact-us{
    width: 100%;
    height: 644px;
    
}
.contact-section {
    display: flex;
   flex-direction:row
}
.contact-us p{
margin-left:10%;
 color: #000;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
}
.left-box {
    margin-left:8%;
    margin-top:8%;
    flex: 100%;
    
   
}

.left-box img {
    width: 180.14px;
height: 46.93px;
margin-left:8%;
}
.left-box p {
    margin-left:8%;
 font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
width: 261.15px;
height: 60px;
opacity: 0.8px;


    
}

.icon {
    width: 150px;
    height: 50px;
    /* border: 1px solid red; */
    display: flex; 
    flex-direction:row;
    align-items: left;
    margin-left: 8%;
    margin-top: 4%;
}

.icon svg {
    /* border: 1px  solid red; */
    width: 32px;
    height: 32px;
    margin-right: 10%;
    margin-left: -1%;
}

.right-box {
    flex: 100%;
    padding: 20px;
    display: flex;
   flex-direction:row;
   margin-top:6%;
   width:250px;
   /* border:1px solid red; */
   justify-content:space-between;

}
.li-tag{
    margin-right:8%
    color: #000;
font-family: Poppins;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 30px;

}
.li-tag li{
    margin-bottom:20px;
    list-style-type: none;
    /* border-bottom:1px solid #EB1700; */
    width:190px;
    
    position: relative;
    
}
.li-tag span{
    width: 49.405px;
height: 1px;
background-color:#EB1700;
}
.li-tag li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 1px; /* Height of the initial border */
    background-color: transparent; /* Transparent initially */
    transition: background-color 0.3s; /* Smooth transition */
}

.li-tag li:hover::after {
    background-color: #EB1700; /* Red color on hover */
}
.right-row p{
    margin-left:-3px;
    margin-bottom:20px;
    color: #000;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 176.471% */
}



@media screen and (max-width: 1024px) {

    .desktop-nav {
      display: none;
    }
    header {
        padding: 20px; 
      }
    
      .logo img {
        margin-left: 20px; 
      }
      .burger-menu {
        margin-left:0px;
        
     }
     .small-nav {
        display: none;
      position: absolute;
      top: 70px;
      right: 0;
      background-color: #FFFFFF;
      width: 100%;
      padding: 10px;
      height: 100vh;
      font-size:25px;
      z-index: 99999;
    }
    .small-nav .active {
        display: block;
      }
    
      .small-nav  ul {
        list-style-type: none;
        width: 100%;
        height: 100%;
        padding: 0;
         
        margin-top: -20%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    
      .small-nav  ul li a{

        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 700;
        /* border:2px solid red; */
      }
    /* .small-nav button {
        display: block;
        width: 100%;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: 0em;
        background-color: #161616;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    } */
    
    
      .burger-menu {
        display: block;
        cursor: pointer;
        padding: 10px;
        align-item:right;
  
      }
    
      .burger-menu .bar {
        width: 30px;
        height: 3px;
        background-color: #161616;
        margin: 6px 0;
        transition: 0.4s;
      }
    
      .burger-menu.open .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
    
      .burger-menu.open .bar:nth-child(2) {
        opacity: 0;
      }
    
      .burger-menu.open .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    
      .container {
        position: relative;
       width: 500.17px;
        height: 266px;
        margin-top: 100px;
        margin-left: 253.41px;
        text-align: center;
        /* border: 2px solid red; */
      }
      
      .container h1 {
        position: absolute;
    
        font-family: 'Poppins';
        font-size: 40px;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: -0.02em;
        text-align: center;
        color: #000000;
        z-index: 99;
      }
      

      
      .desktop {
    
        width: 1024px;
        height: 808px;
        margin-top: -700.41px;
       /* padding: 306.45px 0 0 0; */
        margin-bottom:30%;
      }
      .desktop img{
       
        width: 100;
        height: 808px;
    
      }
    
    .box {
        padding: 20px; 
        flex-direction: column; 
        margin-right:15%
    }

    .sidebar {
        width: 100%; 
        margin-bottom: 20px;
    }

    .content {
        width: 100%; 
    }
    .work {
        margin-left: 10%; 
    }

    .workexperience {
        margin-right: 5%; 
        margin-left: 15%;
    }

    .work h1 {
        font-size: 24px; 
        line-height: 28px; 
    }

    .work p {
        font-size: 16px; 
        line-height: 24px; 
    }

    .workexperience img {
        width: 60px; 
    }
   
        .indus {
            margin-left:10%;
            padding:10px;
            display:flex;
            flex-direction:column;
        }
      .indus h1{
        margin-bottom:5%;
      }
        .container-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin-left: 2px;
           display:fixed;
        }
        
        .small-container {
            width: 100%;
            margin: 70; 
            margin-bottom: 20px;
            padding: 10px;
            box-sizing: border-box;
            background-color: #FAF7F7;
            padding: 16px 20px 16px 20px;
            border-radius: 12px;
            gap: 22px;
        }
        .img{
        width: 185.26px;
        height: 185.26px;
        border-radius: 12px;
        background-color:#FFFFFF ;
        }
        .text-box,
        .image-box {
            width: 100%; 
           
        }
        .meet-the-team {
           margin-top:0%;
        }
    
        .image-container {
            width:90%;
            grid-template-columns: repeat(4, 1fr);
        }
    
        .name p {
            font-size: 18px; 
        }
    
        .reviwe{
            width: 100%;
              height: 400px;
              margin-top:-5%;
              margin-left:5%;
              
             
        }
        .reviwe-box{
            margin-left:10%;
            width: 492.64px;
            margin-right:15%;
        }
        .rect{
            /* border:2px solid red; */
        }
        .rectangle{
            margin-left:48%;
            margin-top:2.7%;
            
        
        }
        .circle1{
            margin-left:52.5%;
            margin-top:-0.9%;
            
        }
        .circle2{
            margin-left:54%;
            margin-top:-0.8%;
           
        
        }
        .circle3{
            margin-left:55.5%;
            margin-top:-1%;
           
        }
        .org-circle1{
            margin-top:-2.2%;
            margin-left:73.5%;
         
        }
        .org-circle2{
            margin-top:-16.5%;
            margin-left:78.5%;
           
        
        }
        .svg1{
            margin-top:-2.7%;
            margin-left:74%;  
        }
        .svg2{
            margin-top:-2.7%;
            margin-left:79.5%;  
        }
        .ideas{
            
            width: 100%;
          
        }
        .contain{
            display: flex;
            justify-content: space-between;
            align-items: center;
         
        }
        
        .text-section {
            flex: 1;
        margin-top:-80%;
        margin-left:2%;   
           
        }
        

        .form-section {
            flex: 1;
            margin-top:-80%;
            margin-right:10%;
           
        
        }
        
        form {
            max-width: 400px;
            margin: 0 auto;
        }
        
        
        
        
        
        input {
            width: 398px;
        height: 45px;
        
        }   
        .textarea-group textarea {
            
            max-height: 77px; 
            width: 398px;
       
        
        }
        
        
        .form-section span{
            border-bottom:1px solid #EB1700;
        
        }
        /* signup.............................. */
        .signup{
        margin-top:5%;
        width: 100%;
        height: 390px;
        background-color: #050913;
        overflow:hidden:
        }
        
        .signup-page {
            display: flex;
            justify-content: space-between;
            align-items: center;
           
            padding: 20px;
        }
        
        .signup-text {
            flex: 1;
            max-width: 50%;
            
            margin-left:2%;
        }
        
       
       
        .email-input {
            display: flex;
            margin-top: 20px;
        }
        
        .email-input input {
            margin-top:15%;
            width: 200px;
        height: 41px;
        
            
        }
        
        .email-input button {
            margin-top:15%;
            margin-left:2%;
            
            width: 189px;
            height: 38px;
            padding: 0px, 32px, 16px, 32px;
            border-radius: 31px;
            gap: 8px;
            background-color:#EB1700;
            border:none;
            
            
        }
        .image-blue {
            flex: 1;
            width: 50%;
        height: 331.1px;
        margin-left:10%;
        
        
        }
        
        .image-blue img {
          width: 351.1px;
            height: auto%;
            border-radius: 8px;
        }
        
        
        /* contactus........................................... */
        .contact-us{
            width: 100%;
            height: 644px;
            
        }
        .contact-section {
            display: flex;
           flex-direction:row;
           margin-right:30%;
           margin-bottom:10%;
        }
       
        
    }
        
      
        
    

  


@media screen and (max-width: 768px) {
    body{
        overflow-x:hidden;
    }
    header {
        padding: 10px;
       /* margin-top:20%;  */
        
    }

    .logo img {
        margin-left: 10%; 
        margin-bottom: 10px;
    }

    .burger-menu {
        margin-right: 15%;
      
    }

    .container {
        
        width: 60%; 
        height: 250px; 
        margin-top: 20px; 
        margin-left: 20%;
        margin-right:20% ; 
        padding: 20px;
        /* border:2px solid red; */
    }

    .container h1 {
       
        font-size: 40px;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: -0.05em;
        
    }

    .desktop {
        width: 100%; 
        margin-top:-500px;
    }

    .desktop img {
        width: 100%; 
        height: auto; 
    }

    nav {
        margin-right: 0;
    }

    nav a {
        margin-right: 0;
        margin-bottom: 8px;
    }

    .get-started-button {
        margin: 20px 0;
    }

    .box {
        width: 90%; 
        margin-top:-100px;
        flex-direction: column; 
        margin-right:5%;
        margin-left:5%;
        
    }

    .sidebar {
        width: 100%; 
        
      
    }
    .sidebar p{
        /* border:2px solid red; */
        margin-right:10%;
        
      
    }

    .content {
        width: 80%; 
        height:50%;
        /* border:2px solid red; */
        margin-right:5%;
        /* margin-bottom:10%; */
    }
    .content p{
        margin-top:15%;
        /* border:2px solid red; */
        
    }
    
        .our-ceo {
            margin-top:10%;
            flex-direction:column;
            padding: 10.14px 10.42px 20px 10.42px; 
            
       
        }
    
        .left-container {
            margin-left: 5%; 
        }
    
        .right-container {
            margin-left: 13%; 
            width:90%;
            /* border:2px solid red; */
        }
    
        .right-container h1 {
            margin-left: 10px; 
            font-size: 20px;
            line-height: 24px;
            margin-right: 20px; 
        }
    
        .right-container p {
            width:100%;
            font-size: 18px;
            line-height: 20px;
            margin-right: 20px; 
        }
        .logos{
            margin-left: 13%; 
        }
        .work {
            display:flex;
            flex-direction:column;
            margin-left:7%; 
            margin-top: 15%;
            margin-bottom: 10%;
        }
    
       
        .work h1 {
           
            font-size: 20px; 
            line-height: 28px;
            margin-bottom: 10px;
            /* border:2px solid red; */
        }
    
        .work p {
            margin-right: 15%;
            width:100%;
           
            font-size: 17px; 
            line-height: 24px;
        }
        .workexperience {
          
            margin-left: 5%;
            /* border:2px solid red; */
        }
    
        .workexperience img{
            width: 60px; 
            height:60px;
        }
        .lastimg{
            margin-bottom:15%;  
        }
        .lastimg5{
            
          
        }
        .indus {
            /* margin: 5% 2%; */
            display:flex;
            flex-direction:column;
            text-align:center;
            
        }
        .indus h1{
            margin-left: 0%;
            width: 100%;
            font size:17px;
            
        }
        .indus p{
            width: 100%;
            margin-left: 0%;
        }
    
        .container-wrapper {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(3, 1fr);
            width:100%;
            gap:-1%;
           
            margin-left:2%;
            margin-right:5%;
    
        }
        .img{
            width: 180.26px;
        height: 180.26px;
        padding: 36.73px 40.53px 42.77px 28.3px;
        border-radius: 12px;
        background-color:#FFFFFF ;
        }
        
        .small-container {
            width: 84%;
           
            
        }
        
    .explore{
        margin-left:0%;
    }

    .our-purpose{
    width: 100%;
    height: 631px;
    padding: 108px, 100.47px, 108px, 100px;
    margin-top:50%;
     }
     

    .content-container {
         display:flex;   
        flex-direction: column; 
        width: 100%;

    }
        .text-box{
            width: 80%; 
            margin-left:2%;
            margin-bottom:5%;
        }
        .image-box {
            width:70%; 
           
        }
        .meet-the-team {
            margin-top:15%;
        }
    
        .image-container {
            width:80%;
            margin-left:10%;
            grid-template-columns: repeat(3, 1fr);
        }
    
        .name p {
            font-size: 18px; 
        }
        .reviwe{
            width: 100%;
              height: 400px;
              margin-top:35%;
              margin-bottom:40%; 
        }
        .reviwe-cont{
            display :flex;
            justify-content:center;
            flex-direction:column;
            }
            .text-cont{
                margin-left:10%;
                margin-bottom:5%;
            }
              
            
        .reviwe-box{
            width: 100%;
            margin-left:0%;
         
            margin-right:15%;
           
        }
        .rect{
            /* border:2px solid red; */
        }
        .rectangle{
            margin-left:5%;
            margin-top:2.7%;
            
        
        }
        .circle1{
            margin-left:10%;
            margin-top:-1.5%;
            
        }
        .circle2{
            margin-left:12%;
            margin-top:-1.2%;
           
        
        }
        .circle3{
            margin-left:14%;
            margin-top:-1.3%;
           
        }
        .org-circle1{
            margin-top:-2.2%;
            margin-left:61.5%;
         
        }
        .org-circle2{
            margin-top:-17.5%;
            margin-left:68.5%;
           
        
        }
        .svg1{
            margin-top:-3.7%;
            margin-left:62%;  
        }
        .svg2{
            margin-top:-3.7%;
            margin-left:69.5%;  
        }
        .ideas{
            /* margin-top:100%; */
            width: 100%;
            background-color: #F4F4F4;
        }
        .contain{
            display: flex;
            flex-direction:column;
            background-color: #F4F4F4;
        }
        
        .text-section {
            flex: 1;
            margin-top:-25%;  
        margin-left:2%;   
           
        }
        

        .form-section {
            flex: 1;
            margin-top:-35%;
            margin-right:10%;
           
        
        }
        
        form {
            max-width: 400px;
            margin: 0 auto;
        }
        
        
        
        
        
        input {
            width: 398px;
        height: 45px;
        
        }   
        .textarea-group textarea {
            
            max-height: 77px; 
            width: 398px;
       
        
        }
        
        .form-section h1{
            margin-left:1%;
            margin-top:3%;
            margin-bottom:3%;
        
        }
        .form-section span{
            border-bottom:1px solid #EB1700;
        
        }
        /* signup.............................. */
        .signup{
        margin-top:5%;
        width: 100%;
        height: 390px;
        background-color: #050913;
        overflow:hidden:
        }
        
        .signup-page {
            display: flex;
            justify-content: space-between;
            align-items: center;
           
            padding: 20px;
        }
        
        .signup-text {
            flex: 1;
            max-width: 50%;
            
            margin-left:2%;
        }
        
       
       
        .email-input {
            display: flex;
            margin-top: 20px;
        }
        
        .email-input input {
            margin-top:15%;
            width: 230px;
        height: 41px;
        
            
        }
        
        .email-input button {
            margin-top:15%;
            margin-left:2%;
            
            width: 159px;
            height: 38px;
            padding: 0px, 32px, 16px, 32px;
            border-radius: 31px;
            gap: 8px;
            background-color:#EB1700;
            border:none;
            
            
        }
        .image-blue {
            flex: 1;
            width: 43%;
        height: 331.1px;
        margin-left:-2%;
        
        
        }
        
        .image-blue img {
          width: 351.1px;
            height: auto%;
            border-radius: 8px;
        }
        
        
        /* contactus........................................... */
        .contact-us{
            width: 100%;
            height: 644px;
            margin-bottom:10%;
        }
        .contact-section {
            display: flex;
           flex-direction:row;
           margin-right:10%;
           margin-left:-5%;
           margin-bottom:10%;
        }
        .left-box{
            margin-left:5%;   
        }
        .right-box {
        margin-right:25%;
        margin-left:-1%;
        /* border:2px solid red; */
        width:50%;
        }
        .right-box p{
            font-size: 15px;  
        }
        .li-tag{
            margin-right:2%;
        
        font-size: 12px;
       
        
        }  
        .li-tag li{
            margin-right:2%;
        
        font-size: 12px;
       
        
        }  
      
        
    
}
@media screen and (max-width: 425px) {

    body{
        overflow-x:hidden;
    }
    header {
        padding: 10px;
       /* margin-top:20%;  */
        
    }

    .logo img {
        margin-left: 10%; 
        margin-bottom: 10px;
    }

    .burger-menu {
        margin-right: -100%;
      
    }

    .container {
        
        width: 100%; 
        height: 250px; 
        margin-top: 20px; 
        margin-left: 50%;
        margin-right:20% ; 
        padding: 20px;
        /* border:2px solid red; */
    }

    .container h1 {
       
        font-size: 30px;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: -0.05em;
        
    }

    .desktop {
        width: 210%; 
        margin-top:-500px;
    }

    .desktop img {
        width: 100%; 
        height: auto; 
    }

    nav {
        margin-right: 0;
    }

    nav a {
        margin-right: 0;
        margin-bottom: 8px;
    }

    .get-started-button {
        margin: 20px 0;
    }

    .box {
        width: 200%; 
        margin-top:-100px;
        flex-direction: column; 
        margin-right:5%;
        margin-left:5%;
        /* border:2px solid red; */
    }

    .sidebar {
        width: 100%; 
        
      
    }
    .sidebar p{
        /* border:2px solid red; */
        margin-right:10%;
        
      
    }

    .content {
        width: 80%; 
        height:50%;
        /* border:2px solid red; */
        margin-right:5%;
        /* margin-bottom:10%; */
    }
    .content p{
        margin-top:15%;
        /* border:2px solid red; */
        
    }
    
        .our-ceo {
            margin-top:10%;
            flex-direction:column;
            width:200%;
            
       
        }
    
        .left-container {
            margin-left: 5%; 
        }
    
        .right-container {
            margin-left: 13%; 
           
            /* border:2px solid red; */
        }
    
        .right-container h1 {
            margin-left: 10px; 
            font-size: 20px;
            line-height: 24px;
            margin-right: 20px; 
        }
    
        .right-container p {
            width:100%;
            font-size: 18px;
            line-height: 20px;
            margin-right: 20px; 
        }
        .logos{
            margin-left: 13%; 
        }
        .work {
            width:180%;
            display:flex;
            flex-direction:column;
            margin-left:10%; 
            margin-top: 15%;
            margin-bottom: 10%;
        }
    
       
        .work h1 {
           
            font-size: 20px; 
            line-height: 28px;
            margin-bottom: 10px;
            /* border:2px solid red; */
        }
    
        .work p {
            margin-right: 15%;
           
            font-size: 17px; 
            line-height: 24px;
        }
        .carousel-container {
            margin-left: 15%;
            overflow: hidden;
            width: 190%; /* Adjust the width of the carousel */
            margin: 0 auto; /* Center the carousel */
        }
        
        .workexperience {
            
            margin-left: 15%;
            /* border:2px solid red; */
        }
    
        .workexperience img{
            width: 60px; 
            height:60px;
        }
        .lastimg{
            margin-bottom:15%;  
        }
        .lastimg5{
            
          
        }
        .indus {
            width: 200%;
            display:flex;
            flex-direction:column;
            text-align:center;
            
        }
        .indus h1{
            margin-left: 0%;
            width: 100%;
            font size:17px;
            
        }
        .indus p{
            width: 100%;
            margin-left: 0%;
        }
    
        .container-wrapper {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(2, 1fr);
            width:200%;
            gap:-1%;
           
            margin-left:8%;
            margin-right:5%;
    
        }
        .img{
            width: 270.26px;
        height: 270.26px;
        padding: 36.73px 40.53px 42.77px 28.3px;
        border-radius: 12px;
        background-color:#FFFFFF ;
        }
        
        .small-container {
            width: 84%;
           
            
        }
        
    .explore{
        margin-left:0%;
    }

    .our-purpose{
    width: 200%;
    height: 631px;
    padding: 108px, 100.47px, 108px, 100px;
    margin-top:160%;
     }
     

    .content-container {
         display:flex;   
        flex-direction: column; 
        width: 100%;

    }
        .text-box{
            width: 80%; 
            margin-left:2%;
        }
        .image-box {
            width:70%; 
           
        }
        .meet-the-team {
            margin-top:25%;
        }
    
        .image-container {
            width:180%;
            margin-left:10%;
            grid-template-columns: repeat(3, 1fr);
        }
    
        .name p {
            font-size: 18px; 
        }
        .reviwe{
            width: 200%;
              height: 400px;
              margin-top:45%;
              margin-bottom:70%; 
        }
        .reviwe-cont{
            display :flex;
            justify-content:center;
            flex-direction:column;
            }
            .text-cont{
                margin-left:10%;
                margin-bottom:5%;
            }
              
            
        .reviwe-box{
            width: 90%;
            margin-left:3%;
         
            margin-right:15%;
           
        }
        .rect{
            /* border:2px solid red; */
        }
        .rectangle{
            margin-left:5%;
            margin-top:2.7%;
            
        
        }
        .circle1{
            margin-left:10%;
            margin-top:-1.5%;
            
        }
        .circle2{
            margin-left:12%;
            margin-top:-1.2%;
           
        
        }
        .circle3{
            margin-left:14%;
            margin-top:-1.3%;
           
        }
        .org-circle1{
            margin-top:-2.2%;
            margin-left:61.5%;
         
        }
        .org-circle2{
            margin-top:-17.5%;
            margin-left:68.5%;
           
        
        }
        .svg1{
            margin-top:-3.7%;
            margin-left:62%;  
        }
        .svg2{
            margin-top:-3.7%;
            margin-left:69.5%;  
        }
        .ideas{
            /* margin-top:40%; */
            width: 200%;
            background-color: #F4F4F4;
        }
        .contain{
            display: flex;
            flex-direction:column;
            background-color: #F4F4F4;
        }
        
        .text-section {
            flex: 1;
            margin-top:-25%;  
        margin-left:2%;   
           
        }
        

        .form-section {
            flex: 1;
            margin-top:1%;
            margin-right:10%;
           
        
        }
        
        form {
            max-width: 400px;
            margin: 0 auto;
        }
        
        
        
        
        
        input {
            width: 398px;
        height: 45px;
        
        }   
        .textarea-group textarea {
            
            max-height: 77px; 
            width: 398px;
       
        
        }
        
        .form-section h1{
            margin-left:1%;
            margin-top:3%;
            margin-bottom:3%;
        
        }
        .form-section span{
            border-bottom:1px solid #EB1700;
        
        }
        /* signup.............................. */
        .signup{
        margin-top:25%;
        width: 200%;
        height: 390px;
        background-color: #050913;
        overflow:hidden:
        }
        
        .signup-page {
            display: flex;
            justify-content: space-between;
            align-items: center;
           
            padding: 20px;
        }
        
        .signup-text {
            flex: 1;
            max-width: 50%;
            
            margin-left:2%;
        }
        
       
       
        .email-input {
            display: flex;
            margin-top: 20px;
        }
        
        .email-input input {
            margin-top:15%;
            width: 230px;
        height: 41px;
        
            
        }
        
        .email-input button {
            margin-top:15%;
            margin-left:2%;
            
            width: 159px;
            height: 38px;
            padding: 0px, 32px, 16px, 32px;
            border-radius: 31px;
            gap: 8px;
            background-color:#EB1700;
            border:none;
            
            
        }
        .image-blue {
            flex: 1;
            width: 43%;
        height: 331.1px;
        margin-left:-2%;
        
        
        }
        
        .image-blue img {
          width: 351.1px;
            height: auto%;
            border-radius: 8px;
        }
        
        
        /* contactus........................................... */
        .contact-us{
            width: 100%;
            height: 644px;
            margin-bottom:10%;
        }
        .contact-section {
            display: flex;
           flex-direction:row;
           margin-right:10%;
           margin-left:-5%;
           margin-bottom:10%;
        }
        .left-box{
            margin-left:5%;   
        }
        .right-box {
        margin-right:25%;
        margin-left:-1%;
        /* border:2px solid red; */
        width:50%;
        }
        .right-box p{
            font-size: 15px;  
        }
        .li-tag{
            margin-right:2%;
        
        font-size: 12px;
       
        
        }  
        .li-tag li{
            margin-right:2%;
        
        font-size: 12px;
       
        
        } 
    }
    @media screen and (max-width: 360px) {

        body{
            overflow-x:hidden;
        }
        header {
            padding: 10px;
           /* margin-top:20%;  */
            
        }
    
        .logo img {
            margin-left: 10%; 
            margin-bottom: 10px;
        }
    
        .burger-menu {
            margin-right: -120%;
          
        }
    
        .container {
            
            width: 100%; 
            height: 250px; 
            margin-top: 20px; 
            margin-left: 60%;
            margin-right:20% ; 
            padding: 20px;
            /* border:2px solid red; */
        }
    
        .container h1 {
           
            font-size: 30px;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: -0.05em;
            
        }
    
        .desktop {
            width: 230%; 
            margin-top:-500px;
        }
    
        .desktop img {
            width: 100%; 
            height: auto; 
        }
    
        
    
        .get-started-button {
            margin: 20px 0;
        }
    
        .box {
            width: 220%; 
            margin-top:-100px;
            flex-direction: column; 
            margin-right:10%;
            margin-left:5%;
            /* border:2px solid red; */
        }
    
        .sidebar {
            width: 90%; 
            
          
        }
        .sidebar p{
            /* border:2px solid red; */
            margin-right:10%;
            
          
        }
    
        .content {
            width: 80%; 
            height:50%;
            /* border:2px solid red; */
            margin-right:5%;
            /* margin-bottom:10%; */
        }
        .content p{
            margin-top:15%;
            /* border:2px solid red; */
            
        }
        
            .our-ceo {
                margin-top:10%;
                flex-direction:column;
                width:230%;
                
           
            }
        
            .left-container {
                margin-left: -5%; 
            }
        
            .right-container {
                margin-left: 13%; 
               
                /* border:2px solid red; */
            }
        
          
            .work {
                width:200%;
                display:flex;
                flex-direction:column;
                margin-left:15%; 
                margin-top: 15%;
                margin-bottom: 10%;
            }
        
           
            
            .indus {
                width: 200%;
                display:flex;
                flex-direction:column;
                text-align:center;
                
            }
            .indus h1{
                margin-left: 5%;
                width: 100%;
                font size:17px;
                
            }
            .indus p{
                width: 90%;
                margin-left: 5%;
            }
        
            
    
        .our-purpose{
        width: 210%;
        height: 631px;
        padding: 108px, 100.47px, 108px, 100px;
        margin-top:160%;
         }
         
    
        .content-container {
             display:flex;   
            flex-direction: column; 
            width: 100%;
    
        }
            .text-box{
                width: 80%; 
                margin-left:2%;
                margin-bottom:5%;
            }
            .image-box {
                width:70%; 
                margin-left:5%;
            }
           
            .image-container {
                width:190%;
                margin-left:10%;
                grid-template-columns: repeat(3, 1fr);
            }
        
            .name p {
                font-size: 18px; 
            }
            .reviwe{
                width: 210%;
                  height: 400px;
                  margin-top:45%;
                  margin-bottom:70%; 
            }
           
            .ideas{
                /* margin-top:40%; */
                width: 230%;
                background-color: #F4F4F4;
            }
           
            /* signup.............................. */
            .signup{
            margin-top:25%;
            width: 230%;
            height: 390px;
            background-color: #050913;
            overflow:hidden:
            }
            
            
            
            /* contactus........................................... */
            .contact-us{
                width: 130%;
                height: 644px;
                margin-bottom:10%;
            }
            .contact-section {
                display: flex;
               flex-direction:row;
               margin-right:10%;
               margin-left:-5%;
               margin-bottom:10%;
            }
            .left-box{
                margin-left:5%;   
            }
            .right-box {
            margin-right:25%;
            margin-left:-1%;
            /* border:2px solid red; */
            width:50%;
            }
            .right-box p{
                font-size: 15px;  
            }
            .li-tag{
                margin-right:2%;
            
            font-size: 12px;
           
            
            }  
            .li-tag li{
                margin-right:2%;
            
            font-size: 12px;
           
            
            } 
        }